// ======================================
//  Image Styles
// ======================================

.img-featured {
	@include roundy(165px, 4px solid $white);
	margin-top: 75px;
	position: relative;
	z-index: 100;
}

@media (max-width: $break-xs) {
	.img-featured {
		display: none;
	}
}
